body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.loding{
    width:4%;
}
img{
    width: 100%;
}
.header-section{
    display: flex;
}
.half-width1{
    width: 50px;
    margin-top: 14%;
    margin-right: 60px;
}
.site-bar #site{
    display: block;
    font-size:20px;
    padding:20px;
    margin-top: 10%;
}
.logo{
    font-family: 'Aladin', cursive;
    margin-left:10%;
}
.header-link{
    margin-left: 45%;
    padding: 38px;
}
#link{
    text-decoration: none;
    font-size: 15px;
    padding: 17px;
    font-weight: bold;
    color: #000;
}
#link:hover{
    color:cornflowerblue;
}
.flexble-banner{
    display: flex;
    margin-top:100px;
    margin-bottom:80px;
}
.conteinar{
    display:flex;
    width: 1500px;
    margin: auto;
}
a{
    text-decoration: none;
}
.half-a{
    text-decoration: none;
    margin-top: 20%;
    font-size: 30px;
    padding: 30px;
}
.hedding-size{
    font-size:70px;
}
.heading-size2{
    font-size:28px;
}
.pragragh{
    font-size: 31px;
    margin-bottom:8%;
}
.half-width{
    margin-right: 20px;
    width: 40%;
}
.half-a{
    text-decoration: none;
    margin-top: 20%;
}
.button-link{
    background:#391F82;
    padding: 10px 30px;
    font-size: 27px;
    color: #fff;
    border-radius: 10px;
    border:1px solid #391F82;
    transition:.8s;
}
.button-link:hover{
    border:1px solid #391F82;
    background: #fff;
    color: #000;
}
.scoll{
    font-size: 20px;
    margin-top: 100px;
    color:#391F82;
    margin-left:5px;
}
.img-size{
    margin-left: 30%;
    width: 80%;
    padding: 40px;
}
.fa, .fas {
    font-weight: 900;
    margin-left: 5px;
    margin-right: 5px;
}
.back-ground{
    background-color:#E2E2E2;
}
.mar-gin{
    margin-top:25%;
}
.midem-button{
    border: 1px solid #fff;
    font-size: 15px;
    padding: 10px 31px;
    margin-left: 0;
    margin-right: 18px;
    color: #000;
    transition:.8s;
}
.midem-button:hover{
    background-color:#fff;
    color: #000;
}
.user-h4{
    font-size:17px;
    margin-top: -55px;
    margin-bottom:20px;
}
.header3-section{
    margin: auto;
    text-align: center;
}
.hedding-size2{
    font-size:40px;
}
.peragragh2{
    width: 570px;
    margin: auto;
    font-size: 20px;
}
.box-model{
    width:25%;
    margin: auto;
    border-radius:15px;
    background: #fff;
    padding: 10px 20px;
    transition: .5s;
    margin-top:100px;
}
.box-model:hover{
    background:#E2E2E2;
}
.width-jang{
    width: 50%;
    margin-left: 30%;
}
.depo-size{
  margin:auto;
}